<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking - Służba liturgiczna</title>
    <link rel="stylesheet" href="./assets/CSS/general.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./assets/CSS/attendance.css">
</head>

<body>
    <main>
        <div class="container">
        <button class="showbutton" onclick="show_nav()">
                <ion-icon name="menu-outline" class="hide620"></ion-icon>
            </button>
            <nav id="main_nav">

                <ul>
                    <li><a href="/">
                            <ion-icon name="home-outline"></ion-icon><span class="menu">Dom</span>
                        </a></li>

                    <li class="checked">
                        <a href="attendance#week">
                            <ion-icon name="clipboard-outline"></ion-icon><span class="menu">Frekwencja</span>
                        </a>
                    </li>
                    <li><a href="rankL.gohtml">
                            <ion-icon name="trophy-outline"></ion-icon><span class="menu">Ranking</span>
                        </a></li>
                    <li>
                        <a href="zbiorki/zbiorki_lektor.php">
                            <ion-icon name="reader-outline"></ion-icon><span class="menu">Zbiórki</span>
                        </a>
                    </li>
                    <li>
                        <a href="http://sluzbaliturgiczna-zgloszenia.epizy.com/help.php">
                            <ion-icon name="information-circle-outline"></ion-icon><span class="menu">Pomoc</span>
                        </a>
                    </li>
                    <li>
                        <a href="logout.php">
                            <ion-icon name="log-out-outline"></ion-icon><span class="menu">Wyloguj się</span>
                        </a>
                    </li>
                    <li class="hide1030">
                        <button onclick="hide_nav()">
                            <a>
                                <ion-icon name="chevron-forward-circle-outline" class="zwin"></ion-icon><span class="menu">Zwiń</span>
                            </a>
                        </button>
                    </li>
                </ul>


            </nav>
            <article class="attendance_article">
                <header>
                    <h1>Obecni w tym:</h1>
                </header>
                <section>
                    <p id="week"><a href="attendance#week">Tygodniu</a></p>
                    <p id="month"><a href="attendance#month">Miesiącu</a></p>
                    <div class="clear"></div>
                    <div id="week_div">
                        <ul>
                            {{range .Week}}
                                <li>
                                    <span>{{.Person.FirstName}}</span>
                                    <span>{{.Person.LastName}}</span>
                                    <span>{{.Time}}</span>
                                    <span>{{.Date}}</span>
                                </li>
                            {{end}}
                        </ul>
                    </div>
                    <div id="month_div">
                        <ul>
                            {{range .Month}}
                                <li>
                                    <span>{{.Person.FirstName}}</span>
                                    <span>{{.Person.LastName}}</span>
                                    <span>{{.Time}}</span>
                                    <span>{{.Date}}</span>
                                </li>
                            {{end}}
                        </ul>
                    </div>

                </section>
            </article>
        </div>
    </main>
    <script src="button_script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>