<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logowanie - Służba liturgiczna Maków</title>
    <link rel="stylesheet" href="./assets/CSS/panel.css">

</head>

<body>
<div class="center">
    <h1>Logowanie</h1>


    <form method="post" action="">
        <div class="txt_field">
            <input type="text" required name="username">
            <span></span>
            <label>Nazwa użytkownika</label>
        </div>
        <div class="txt_field">
            <input type="password" required name="password">
            <span></span>
            <label>Hasło</label>
        </div>
        <div class="txt_field">
            <input type="text" required name="firstname">
            <span></span>
            <label>Imię</label>
        </div>
        <div class="txt_field">
            <input type="text" required name="lastname">
            <span></span>
            <label>Nazwisko</label>
        </div>
        <div class="txt_field">
            <input type="text" required name="role" value="user">
            <span></span>
            <label>Stanowisko</label>
        </div>
        <input type="submit" value="Zarejestruj się">
        <div class="signup_link">
            <a href="/login">Zaloguj się</a>
        </div>
    </form>
</div>

</body>

</html>
